<%= form_with(model: @stock) do |form| %>
    <% if @stock.errors.any? %>
      <div class="text-red-500">
        <h2><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h2>
        <ul>
          <% @stock.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="mb-4">
      <%= form.label :quantity %>
      <%= form.number_field :quantity %>
    </div>
    
    <%= form.submit "Update Quantity", class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" %>
  <% end %>