<%= form_with model: @ingredient, url: create_ingredients_url, method: :post do |form| %>
  <div class="mb-4">
    <%= form.label :ingredients_name, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :ingredients_name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>
  <div class="mb-4">
    <%= form.label :quantity, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.number_field :quantity, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>
  <div class="mb-4">
    <%= form.label :unit, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :unit, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>

<div class="meals-info">
  <% @meals_info.each do |info|%>
  <%= info.meals_directions%>
    <%= info.meals_nutritions%>
  <%end%>
</div>

<table class="min-w-full">
  <thead>
    <tr>
      <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Ingredients</th>
      <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Quantity</th>
      <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Unit</th>
    </tr>
  </thead>
  <tbody>
    <% @list_ingredients.each do |ingredient| %>
      <tr>
        <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900"><%= ingredient.ingredients_name %></td>
        <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900"><%= ingredient.quantity %></td>
        <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900"><%= ingredient.unit %></td>
      </tr>
    <% end %>
  </tbody>
</table>

