<h1 class="text-2xl font-bold mb-4">Welcome to the menu!</h1>

<%= form_with(model: @order) do |form| %>
  <% if @order.errors.any? %>
    <div class="text-red-500">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% @order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <% @meals.each do |meal| %>
    <div class="flex justify-between items-center mb-4">
      <div class="meal-details">
        <h4 class="font-bold"><%= meal.meals_name %></h4>
        <p class="text-gray-600">Price: <%= meal.meals_price %></p>
      </div>
      <div class="quantity-input ml-4">
        <%= form.fields_for :order_items, OrderItem.new do |order_item_fields| %>
          <%= order_item_fields.hidden_field :meal_id, value: meal.id %>
          <%= order_item_fields.hidden_field :order_id, value: @order.id %>
          <%= order_item_fields.label :quantity, "Quantity:", class: "block mb-1" %>
          <%= order_item_fields.number_field :quantity, min: 0, class: "form-input" %>
        <% end %>
      </div>
      <div>Total Cost:</div>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.number_field :user_id, value: current_user.id, class: "hidden" %>
  </div>
  
  <div class="mb-4">
    Total Bill:
  </div>
  
  <%= form.submit "Place Order", class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" %>
<% end %>
