<%= form_tag(find_meal_url, method: :get, class: "flex items-center") do %>
  <%= text_field_tag :search, @meal_name, class: "border rounded-md px-2 py-1", placeholder: "Search for anything..." %>
  <%= submit_tag "Search", class: "bg-blue-500 ml-1 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md" %>
<% end %>
<button><%= link_to "ADD MEAL", add_meal_path%></button>



<% @list["meals"].each do |meals|%>
  <img class="w-20" src=" <%= meals["strMealThumb"] %>" alt="">
  <%= meals["strMeal"] %> <br>
   <%= meals["strCategory"] %> <br>
    <%= meals["strInstructions"] %> <br>
<%end%>
